<div class="container">
  <div fxLayout="column">
    <label>Reloj Digital</label>
    <div class="reloj" fxLayout="row" fxLayoutAlign="center">
      <app-numero [segmentos]="segmento4" />
      <app-numero [segmentos]="segmento3" />
      <label fxLayout="column" fxLayoutAlign="center" class="twoPoints"
        >:</label
      >
      <app-numero [segmentos]="segmento2" />
      <app-numero [segmentos]="segmento1" />
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="center">
      <button class="btn btn-sucess" (click)="start()">Start</button>
      <button class="btn btn-danger" (click)="stop()">Stop</button>
    </div>
  </div>
</div>
